# Visual Studio
/.vs
*.vcxproj.user
*.VC.db
*.VC.opendb
/enc_temp_folder

# Build Files
/#Build
/#Intermediate
/#Test/bin/*.dll
/#Test/bin/*.pdb
/#Test/bin/*.exe
/#Test/*.pdb
/#Test/*.exe
/ipch
*.obj
*.ilk
*.idb
*.pdb